table td{
   
    border: 0.6rem solid rgb(255, 0, 0);
    width: 150px;
   
    height:150px;
}
table {

     margin-top: 2rem;
}
td{
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    align-items: center;
    margin: auto;
}
#btn{
    border: none;
    border-radius: 15px;
    
    background-color: rgb(2, 255, 112);
    font-weight: bold;
    font-size: 2rem;
   margin-bottom: 1rem;
}
.winner{
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 900;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: rgb(38, 110, 187);
}
.line{
    line-height: 10px;
}
.line>h3{
    font-size: 3rem;
    font-weight: 900;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: rgb(10, 128, 255);
}

.line>h2{
 
    font-weight: 900;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 2.5rem;
    color: rgb(64, 0, 255);
}